################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Src/spracovanieInfo/obj/Debug
/Src/.vs/spracovanieInfo/v15/Server/sqlite3
